repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: bash -c 'for file in "$@"; do sed -i "s/[[:space:]]*$//" "$file"; done' --
        language: system
        types: [text]

      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
        require_serial: true

      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
        require_serial: true

      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]

      - id: pylint
        name: pylint
        entry: bash -c 'python -m pylint --disable=all --enable=unused-import,undefined-variable "$@"' --
        language: system
        types: [python]

      - id: tests
        name: tests
        entry: python
        language: system
        pass_filenames: false
        always_run: true
        args: [-m, pytest, tests/, -v, --cov=custom_components/wrtmanager, --cov-report=term-missing, --cov-fail-under=39]